@charset "UTF-8";



html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

html, body, nav, header, main, aside, footer, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #e1d5b7;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 170px auto  auto 170px;
    grid-template-rows: 275px auto 70px;
    grid-template-areas:
        "header header  header header"
        "nav      main       main      aside"
        "footer footer  footer footer";
}
#wrapper {
    
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    gap: 0;
}

#wrapper div {
    
    padding: 5px;
    border: 3px solid #000000;
    margin: 1px;
}
aside img {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    transition-property: border-radius;
    transition-duration: 1s;
    
}
aside img:hover {
    border-radius: 30px;
}



#menuicon, #menucheckbox {
    display: none;
}

nav {
    grid-area: nav;
    background-color: #59bbcc;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: #0d5712;
}

nav a:hover, nav a:active {
    background-color: #637e70;
    color: #274606;
}
nav a.dennasidan {
    background-color: aquamarine;
}
nav a.dennasidan::before {
    content: "";
}



header {
    grid-area: header;
    background-color: #196a83;

    color: #FFFFFF;
    padding: 10px;
    
}

header h1 {
    max-width: 150px;
    margin: 10px auto;
    display: flex;
    justify-content: center;

}

main {
    grid-area: main;
    background-color: #ffffff;
    padding: 10px;
}

aside {
    grid-area: aside;
    background-color: #59bbcc;
    padding: 5px;
}

footer {
    grid-area: footer;
    background-color: #2886d8;
    padding: 10px;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
}
.imgcss {
    width: 95%;
    height: 200px;
    padding: 10px;
}
.imgcss2 {
    width: 95%;
    height: 200px;
    padding: 10px;
}

@media screen and (max-width: 900px) {header {
    background-image: url(../img/kodning.jpg);
    background-size: cover;
    background-position: top;
 }
}

 @media screen and (max-width: 700px) { body {
     grid-template-columns: auto minmax(300px,650px) 175px auto;
     grid-template-rows: min-content 250px auto min-content;
     grid-template-areas: 
     ".    nav    nav    ."
     " header header header header"
     ".   main   aside   ."
     "footer footer footer footer";
 }

 nav ul {
     flex-direction: row;
 }
}

 @media screen and (max-width: 560px) { body {
    grid-template-columns: auto minmax(250px,650px) auto 50px;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: 
    "nav    nav    nav   aside"
    " header header header header"
    "main   main   main   main"
    "footer footer footer footer";
} 
header { 
    background-image: none;
    height: min-content;
}
#wrapper {
    display: block;
}
#wrapper div {
    margin: 0;
    padding: 0;
}
.imgcss {
    width: 95%;
    height: 95%;
    padding: 10px;
}
.imgcss2 {
    width: 95%;
    height: 95%;
    padding: 10px;
}


aside img:hover {
    transform: scale(1.5);
}

#menuicon {
display: inline-block;
background-image: url("../img/menuicon.png");
width: 24px;
height: 24px;
cursor: pointer;

}

#menucheckbox {
    display: none;
}

#menucheckbox ~ ul {
    display: none;
}

#menucheckbox:checked ~ ul {
    display: flex;
}
nav ul {
    flex-direction: column;
}
 }